html * {
  scroll-behavior: smooth;
}

body {
  background: #42455a;
  padding-top: 100px;
}

a {
  display: inline-block;
  position: relative;
  padding: 11px;
  font-size: 26px;
  background-color: #2c363f;
  color: #00ba78;
  text-decoration: none;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 360px;
}

a:hover {
  color: #333;
  background-color: #00ba78;
}

table {
  margin: auto;
  width: auto;
  border-collapse: separate;
  border-spacing: 1px;
}

th {
  border: 1px solid #6c698d;
  padding: 8px;
  text-align: center;
}

td a,
th a {
  padding: 8px;
}

td {
  padding: 1px;
  text-align: center;
}

/*-----------КНОПКА-----------*/
.my-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  background-color: #222;
  color: #00ba78;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.my-btn:hover {
  color: #fff;
  background-color: #00ba78;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
