@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #42455a;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #00c2cb;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

header nav a {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 2rem;
  color: #e0ffff;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

header nav a:hover,
header nav a.active {
  background: #00c2cb;
  color: #42455a;
  transition: 0.5s ease-out;
  letter-spacing: 2px;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: #e0ffff;
}
section:nth-child(2) {
  color: #42455a;
  background: #e0ffff;
}
section:nth-child(3) {
  color: #e0ffff;
}
section:nth-child(4) {
  color: #42455a;
  background: #e0ffff;
}
section:nth-child(5) {
  color: #e0ffff;
}

section:nth-child(6) {
  color: #42455a;
  background: #e0ffff;
}
section .container {
  margin: 100px;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  background-color: #e0ffff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  width: 200px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  background: #e9c46a;
  color: #e0ffff;
  padding: 40px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-200px);
  z-index: 9999;
  font-size: 30px;
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #0e9191;
  text-decoration: none;
  transition: 0.5s ease-out;
}
.sidebar a:hover {
  transition: 0.5s ease-out;
  letter-spacing: 2px;
}

.main-content {
  margin-left: 200px;
  padding: 20px;
}

.sidebar input[type="text"],
.sidebar input[type="password"] {
  padding: 10px;
  margin-top: 5px;

  border-radius: 5px;
  border: none;
  background-color: #e0ffff;
  color: #42455a;
}

.sidebar input[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #e0ffff;
  background-color: #3d8dae;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.sidebar input[type="submit"]:hover {
  cursor: pointer;
  background-color: #00c2cb;
}
#toggle-menu {
  background: none;
  border: none;
  color: #e0ffff;
  font-size: 2rem;
  cursor: pointer;
}
